.card {
  max-width: 440px;
  text-align: left;
  img {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 900px) {
    max-width: 100%;
  }
}

.missionCard {
  max-width: 282px;

  img {
    margin-bottom: 16px;
  }

  h3 {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.missionCard__img {
}

.testimonialCard {
  background-color: #000;
  color: #fff;
  width: 384px;
  min-height: 520px;
  border-radius: 8px;
  padding: 30px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.testimonialCard__quoteImg {
  /* position: absolute;
  top: 30px;
  left: 24px; */
  margin-bottom: 24px;
}

.testimonialCard__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.testimonialCard__comment {
  font-size: 18px;
  font-weight: 467;
  line-height: 28px;
  margin-bottom: 40px;
  flex-shrink: 0;
}

.testimonialCard__author {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.testimonialCard__name {
  font-size: 20px;
  font-weight: 645;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.blogCard {
  width: 100%;
  max-width: 373px;
  color: #fff;
}
.blogCard img {
  border-radius: 16px;
}

.blogCard p {
  color: #dadada;
  margin-top: 8px;
  margin-bottom: 24px;
}
.blogCard span {
  color: #dadada;
  font-size: 12px;
}
